<form id="myform" style="display:none;">
<table>
<tr><td>task</td>
<td><input type="text" id="edittask"></td></tr>
<tr><td>hours</td><td><input type="text" id="edithrs"></td></tr>
<tr><td></td><td><button id="{{@index}}" class="editsubb">submit </button></td>
<td><button class="canceledit">cancel</button></td></tr>
<input type="hidden" id="hiddenindex" value="{{@index}}"></table>
</form>	