<form id="myform2">
<h1> Add new Task </h1>
<table>
<tr>
	<td>Task</td>
	<td><input type="text" id="task"></td>
</tr>
<tr>
	<td>Hours</td>
	<td><input type="text" id="hrs"></td>
</tr>
<tr>
	<td></td>
	<td><input type="button" value="Submit" id="sub"></td>
	<td><input type="button" value="cancel" id="can"></td>
</table>
</form>