<html ng-app="MyApp">
    <head>
        <title> My website </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="view/main.css">
        <base href="/" />
    </head>
    <body>
        <nav class="nav">
            <ul class="nav nav-tabs container-fluid navbar">
                 <li role="presentation" class="navtxt" id="home">   <a href="/Home">Home</a>    </li>
                 <li role="presentation" class="navtxt" id="home">   <a href="#">Categories</a>  </li>
                 <li role="presentation" class="navtxt" id="home">   <a href="#">Messages</a>    </li>
                 <li role="presentation" class="navtxt" id="home">   <a href="#">Messages</a>    </li>
                 <li role="presentation" class="navtxt" id="signin"> <a href="/login" ng-click="signup()">SignIn</a> </li>
                 <li role="presentation" class="navtxt" id="signup"> <a href="/signup" ng-click="login()">SignUp</a></li>
            </ul>
        </nav>
        <div class="row">
          <ng-view></ng-view> 
        </div>
        <div ng-controller="HomeCtrl">
            <div my-dir info="oldname"></div>
            <div my-dir info="newname"></div>
        </div>

        <div ng-controller="newctrl as ctrl">
              <b> hero component </b><br>
              <comp hero="ctrl.test"></comp>
        </div>

        <div class="col-md-12 footer">
        @ 2017, beyondlife.Inc
        </div>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
            <script src="../app.js"> </script>
            <script src="../controllers/controller.js"> </script>
            <script src="../controllers/signupCtrl.js"> </script>
            <script src="../controllers/loginCtrl.js"> </script>
            <script src="../controllers/pageCtrl.js"> </script>
            <script src="../config/app.js"> </script>
    </body>
</html>
    
    