<div class="span3 col-md-4 col-md-offset-4 signin">
      <legend class="form-box">Already have a Account? Login!</legend>
    <form accept-charset="UTF-8" class="form-box">
        <input class="span3 form-control" name="username" placeholder="Username" type="text" ng-model="userlogin.email"><br><br>
        <input class="span3 form-control" name="password" placeholder="Password" type="password" ng-model="userlogin.password"> <br><br>
        <button class="btn btn-warning form-control" type="submit" ng-click="login(userlogin)">Login</button>
    </form>
</div>