<div class="page">
	<h1 class="pageheading">{{mainData.Name}}</h1>

<div class="container">
	<img class="img-thumbnail" src={{mainData.url}}>
</div>
<div class="btn-container row">
	<button type="button" id="prev-btn" class="btn btn-primary btn-lg prev" ng-click="moveprev()">Previous</button>
	<button type="button" id="nxt-btn" class="btn btn-primary btn-lg nxt" ng-click="movenext()">Next</button>
</div>
<div class="info row" ng-model="viewdata">{{viewdata.info}} {{viewdata.title}}</div>
	
</div>

<div class="row">
	<textarea class="form-control txtarea" placeholder="Add a comment.."></textarea><br>
	<button type="submit" class="btn btn-success"> Comment </button>
</div>