<div class="span3 col-md-4 col-md-offset-4 signup-box" ng-Controller="signupCtrl">
      <legend class="signup">New to WebApp? Sign up!</legend>
    <form accept-charset="UTF-8" class="signup">
		<input class="span3 form-control" name="name" placeholder="Full Name" type="text" ng-model="user.username"> <br><br>
        <input class="span3 form-control" name="email" placeholder="Email Id" type="email" ng-model="user.useremail"><br><br>
        <input class="span3 form-control" name="password" placeholder="Password" type="password" ng-model="user.userpassword"> <br><br>
        <button class="btn btn-warning form-control" type="submit" ng-click="getinfo(user)">Sign up for WebApp</button>
    </form>
</div>