<table border="2px">
<thead>
	   <td>name</td><td>Address</td><td>pincode</td><td>Age</td></thead>
	   <tbody class="tablebody">
	   {{#each tableData}}
	   <tr>
	   		<td>{{name}}</td>
	   		<td>{{Add}}</td>
	   		<td>{{pin}}</td>
	   		<td>{{age}}</td>
	   </tr>
	   {{/each}}
	</tbody>
</table>