<form>
<fieldset>
<legend> Add Details </legend>
<table>
<tr><td>Name </td>    <td><input id="name" type="text"></td></tr>
<tr><td>Address</td>  <td><input id="add" type="text"></td></tr>
<tr><td>Pin code</td> <td><input id="pin" type="text"></td></tr>
<tr><td>Age</td>      <td><input id="age" type="text"></td></tr>
<tr><td><input type="button" id="btnAddDetail" value="submit" ></td></tr>
<tr><td><input type="button" id="btnAddData" value="Add Data" ></td></tr>
</table>
</fieldset>
</form>