.container{
  position:relative;
  width:100%;
  margin:0px 0px;
}
.slider{
display:none;
}
.sliderimage{
  width:100%;
  height:400px;
}
.prev2,.next2{
  z-index:1000;
  position:absolute;
  background-color: black;
  color: white;
  display:block;
  height:20px;
  width:90px;
  padding:20px 20px;
  top:40%;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}
.prev2:hover, .next2:hover{
  background-color:grey;
}
.text{
  position: absolute;
  z-index:1000;
  color:red;
  bottom:50px;
  width:100%;
  font-size: 45px;
  text-align: center;
}
.next2{
  right:0;
}
